body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Helvetica Neue", serif;
}

ul {
    margin: 0;
    padding: 0;
}
header{
    background-color: #000;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
}
header img{
    float: left;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin:10px;
}
header h1{
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    position: absolute;
    text-align: center;
}
header nav{
    float: right;
}
header nav ul li{
    display: inline;
    list-style-type: none;
}
header nav ul li a{
    color:#fff;
}
#description{
    background: #f1f1f1;;
    padding: 30px 120px;
}
#description img{
    float:left;
    height: 480px;
    margin: 0 20px 20px 0;
}
#description h2{
    display: inline-block;
    margin: 20px 0 0 0;
}
.description-p2{
    clear: left;
}
#relationship{
    padding: 30px 120px;
}
#relationship img{
    float: right;
    height: 480px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.relationship-p2::after{
    clear: both;
}
footer{
    clear: both;
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    background: #a9a9a9;
    text-align: center;
}